*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.712);
}
.label-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


.label{
    padding: 4px;
    color: rgba(0, 0, 0, 0.822);
    background-color: rgba(126, 233, 123, 0.897);
    text-transform: capitalize;
    line-height: 1.2;
    border-radius: 6px;
}

.index{
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 25px;
    color: rgb(238, 238, 227);
    background-color: rgba(18, 18, 19, 0.863);
    padding: 10px;
    border-radius: 50%;
}

.types-list{
    position: absolute;
    top: 6px;
    left: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.types{
    z-index: 2;
    margin:6px;
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(248, 156, 122, 0.829);
}
.card{
    position: relative;
    text-align: center;
    display: block;
    border-radius: 6px;
    min-height: 400px;
    border: 1px solid rgba(165, 243, 165, 0.877);
    margin: 15px;
    padding: 20px;
    flex-basis: 50.00%;
}

.card-body{
    text-align: left;
}
.card-body > h4{
    margin: 12px 0 6px 0;
}
#app{
    display: flex;
    flex-direction: row;
}

.avatar{
    display: block;
    height: 250px;
    width: 100%;
    opacity: .8;
    background-color: rgba(244, 221, 255, 0.863);
}
@media (max-width: 690px) {
    #app{
        flex-direction: column;
    }
    .card{
        flex-basis: 100%;
    }
}